<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="post">
    <table border="1">
        <tr>
            <th>Name:</th>
            <td>{{ data.name }}</td>
        </tr>
        <tr>
            <th>Email:</th>
            <td>{{ data.email }}</td>
        </tr>
        <tr>
            <th>Phone No.:</th>
            <td>{{ data.number }}</td>
        </tr>
        <tr>
            <th>Gender:</th>
            <td>{{ data.gender }}</td>
        </tr>
        <tr>
            <th>District:</th>
            <td>{{ data.district }}</td>
        </tr>
        <tr>
            <th>Password:</th>
            <td>{{ data.password }}</td>
        </tr>
        <tr>
            <th>Image:</th>
            <td><img src="{{ data.image }}" height="100" width="100"></td>
        </tr>
        <tr>
            <td></td>
        </tr>

        <tr>
            <td colspan="2"></td>
        </tr>
    </table>
</form>
</body>
</html>